/* Your CSS styles go here */
@media screen and (max-width: 476px){
  h2 {
    clear:both;
    font-size: 1.4em;
    font-weight:bold;
    margin-top:2em;
    font-variant: small-caps;
    padding-left:.25em;
    background-color:#ADD;
    border-bottom: 1px solid #999;
    letter-spacing: .06em;
    }
}



@media screen and (max-width: 575px) and (min-width: 477px){
  h2 {
    clear:both;
    font-size: 1.4em;
    font-weight:bold;
    margin-top:2em;
    font-variant: small-caps;
    padding-left:.25em;
    background-color:#F00;
    border-bottom: 1px solid #999;
    letter-spacing: .06em;
    }
}


@media screen and (max-width: 800px) and (min-width: 576px){
  h2 {
    clear:both;
    font-size: 1.4em;
    font-weight:bold;
    margin-top:2em;
    font-variant: small-caps;
    padding-left:.25em;
    background-color:#AD0);
    border-bottom: 1px solid #999;
    letter-spacing: .06em;
    }

}
